<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/styles/stylesheet.css">

  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    <h1>Welcome, <%= user.name%></h1>
    <h1>Welcome, <%= user.email %></h1>
    <p>You are now logged in.</p>
    <a href="/logout">Logout</a>
    <!-- <a href="/studentProfile">Profile</a> -->
    <a href="/profile">Profile</a>
  </div>
</body>
</html>

