<link href="assets/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/footer.css">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Class 2 Digital</span>
        </a>
        <p>Here you can learn and get more and more skills and knowledge.</p>
        <br>
        <h4>About us</h4>
        <p>Class to Digital (C2D) is on a mission to impact and revolutionize lives of university students by amalgamating theoretical and practical learning approaches on single platform. It aims to bridge the gap between academia and industry through active learning</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Internship</a></li>
          <li><a href="#">Project Repository</a></li>
          <li><a href="#">Industrial Projects</a></li>
          <li><a href="#">Mentors</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          Navarang Pura ,<br>
          Ahmedabad, Gujarat,<br>
          382418 <br><br>
          <strong>Phone:</strong> + 91 999 999 99<br>
          <strong>Email:</strong> info@c2d.com<br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://c2d.in/">c2d.in</a>
    </div>
    <!-- Copyright -->

  </div>

</footer>