<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../public/styles/stylesheet.css">
<link rel="stylesheet" href="/styles/login-signup.css">

  <title>Signup</title>
</head>
<body>
<div class="login-container">
  <div class="image-section">
    <img src="/images/vincent-lin-rLIkE9ZW0y4-unsplash.jpg" alt="login image">
  </div>
  <div class="form-parent-section">
    <h2>Welcome to C2D</h2>
    <p class="paracolor">India's Biggest Education Platform which provide Courses, Internship and much more opportunities.</p>
  <form class="form-section" method="post" action="signup">
    <input type="text" id="name" name="name" placeholder="Enter your name">
<br>
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <br>
    <input type="password" id="password" name="password" placeholder="Password">
    <br>
    <label for="role">Select Role:</label>
    <select id="role" name="role">
      <option value="admin">Admin</option>
      <option value="student">Student</option>
      <option value="mentor">Mentor</option>
      <option value="faculty">Faculty</option>
      <option value="company">Company/Industry</option>
      <option value="content_creator">Content Creator</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
</div>
</body>
</html>
